.adverts_wrapper {
    margin-top: 57px;
    margin-bottom: 13px;
    border-radius: 24px;
    background: linear-gradient(45deg, rgba(139, 5, 6, 1) 0%, rgba(255, 185, 56, 0.4) 40%);
}

/* Исходное расположение для десктопа */
.adverts_innerr {
    display: flex;
    justify-content: center;
    gap: 110px;
    padding: 48px 58px 0px 89px;
}

.social_media_adverts {
    display: flex;
    gap: 14px;
}

.whatsapp_btn {
    padding: 10px 23px 10px 12px;
    background-color: #60D669;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.desc {
    display: inline-block;
    margin-top: 33px;
    margin-bottom: 19px;
}

.desc span {
    color: #272727;
    font-weight: 800;
}

.adverts_left {
    display: flex;
}

@media(max-width: 1024px) {
    .adverts_innerr {
        gap: 230px;
    }
}

@media (max-width: 768px) {
    .adverts_innerr {
        gap: 20px;
        padding: 20px;
    }

    .adverts_left,
    .adverts_right {
        width: 100%;
        text-align: center;
    }

    .adverts_left img {
        max-width: 100%;
        height: auto;
    }

    .social_media_adverts {
        justify-content: center;
        gap: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    .whatsapp_btn {
        padding: 10px 20px;
        font-size: 16px;
        margin: 0 auto;
    }

    .desc {
        font-size: 13px;
        text-align: start;
    }
}

@media (max-width: 425px) {
    .adverts_left img {
        width: auto;
        height: auto;
    }

    .adverts_right h1{
        font-size: 14px;
        text-align: left;
    }

    .social_media_adverts {
        justify-content: start;
    }

    .adverts_right h2{
        font-size: 10px;
        text-align: left;
    }

    .desc {
        margin: 12px 0px 0px 0px;
        font-size: 8px;
        line-height: 10px;
    }
}