.footer_wrapper {
    border-top:2px solid #8B0506;
    margin-top: 178px;
}

.footer_inner {
    display: flex;
    padding-top: 12px;
    padding-right: 48px;
}

.footer_wrapper_title {
    font-weight: bold;
    font-size: 20px;
    color: #272727;
    margin-bottom: 10px;
}

.footer_logo {
    margin-right: 24px;
}

.footer_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_subsections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_schedule {
    margin-bottom: 11px;
}

.center_desc,
.desc {
    display: flex;
    line-height:18px;
}

.center_desc {
    text-align: center;
}

.footer_right {
    display: flex;
    flex-direction: column;
}

.footer_right a {
    margin-bottom: 20px;
    color: #272727;
    font-weight: bold;
    font-size: 16px;
}

.footer_policy {
    margin: 5px 0px 25px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.policy_title {
    font-weight: bold;
    color: #272727;
}

.policy_desc a {
    color: #0029FF;
    text-decoration: underline;
}

@media (max-width:768px) {
    .footer_wrapper {
        display: none;
    }
}