.common_wrapper {
    max-width: 100%;
    transition: max-width 0.5s ease;
}

.category_line_wrapper {
    display: inline-flex;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
}

.category_line {
    display: flex;
    gap: 19px;
    flex-wrap: nowrap;
    width: 100%;
    align-items: stretch; 
  }
  
.set_header_line {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.category-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width:425px) {
    .set_header_line {
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }
}