.wrapper {
    display: flex;
}

.category_line_wrapper {
    display: inline-flex;
}

.category_line {
    display: flex;
    flex-wrap: wrap; 
    gap: 19px;
    justify-content: space-between;
    align-items: stretch; 
  }
  
.set_header_line {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.category-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
